.navbar {
    position: fixed;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: rgba(0,0,0,0.25);

    z-index: 1000;
}

.navbar-name {
    padding-left: 1.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #2b2d42;
}

.navbar-name span {
    color: #d90429;
}

.navbar-items {
    padding-right: 1rem;
}

.navbar-items a {
    color: #d90429;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2rem;
    padding: .1rem 1rem;
    transition: 0.2s ease-in;
    border-radius: 1rem;
}

.navbar-items a:hover{
    font-size: 1.33rem;
    color: #ef233c;
}

@media(max-width:630px) {
    .navbar {
        justify-content: center;

        flex-wrap: wrap;
    }

    .navbar-name {
        padding: 0;
    }

    .navbar-items {
        padding: 3px; 
    }

    .navbar-items a {
        padding: 3px ;
        margin: 5px;
    }
}


